@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin:0;
	padding:0;
}
/*background:url()no-repeat center center ;*/
body{
	background:url(https://raw.githubusercontent.com/Gafigaf/profile.github.io/d23a1ae2774c0142e7e2c17d7e74df2f35554408/%D1%80%D0%B8%D1%81%D1%83%D0%BD%D0%BE%D0%BA-2.svg)no-repeat center center ;
	background-color: #000;
	background-size:cover;
	background-attachment: fixed; 
font-family: 'Montserrat', sans-serif;
	padding: 5%;

}
h1{
	font-size: 40px;
text-shadow: 0 0 2vw #000;
text-align:left;
margin: 0.1em 0 1em;

}
article{
	line-height: 1.5;
	margin-bottom:50%; 
	padding: 10%;
	outline: none;
	position: relative; z-index: 0;
	border-radius: 15px;
	background: #111;
	border:none;
	color:#FFF;
}
/*article:before{
	content: "";
	background:linear-gradient(135deg,#FF0000,#FF6800,#F7FF00,#83FF00,#00FF32,#00FFE8,#0046FF,#FF00FB);
	position: absolute;
	top: -2px;left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(20px);
	width: 102%;height: 102%;
	animation: 8s linear infinite;
	border-radius:25px;
	animation: moving 8s linear infinite;
}
article:after{
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 25px;
}
@keyframes moving{
	0%{
		background-position: 0 0;
		opacity: 0.5;
	}
		50%{
		background-position: 100% 0;
		opacity: 1;
	}
		100%{
		background-position: 0 0;
		opacity: 0.5;
	}
}*/

input{
	background-color:rgba(0,0,0,0.6); 
	color:#FFF;
font-family: 'Montserrat', sans-serif;
}
p{
	font-size: 35px;
	padding-top: 20px;
	margin-top:10px;
font-family: 'Montserrat', sans-serif;
}

#vvod{
	font-size: 20px;
	border-radius: 45px;
	padding:8px;
	background-color:rgba(0,0,0,0.8); 
	color:#FFFFFF;
	border-color: #8D8E8E;
	margin-right: 10px;
font-family: 'Montserrat', sans-serif;
}
#next{
	font-size: 20px;
	border-radius: 45px;
	padding:8px;
	background-color:rgba(0,0,0,0.8); 
	color:#FFFFFF;
	border-color: #8D8E8E;
	margin-right: 10px;
	font-size: 20px;
	border-radius: 45px;
	padding:8px;
	background-color:rgba(0,0,0,0.8); 
	color:#FFFFFF;
	border-color: #8D8E8E;
	margin-top: 50px;
font-family: 'Montserrat', sans-serif;

}
#vvod:hover{
	color:#42C1FD;
	border-color:#42C1FD;
	transition:ease-out 0.4s;

}
#ohict{
	font-size: 20px;
	border-radius: 45px;
	padding:8px;
	background-color:rgba(0,0,0,0.8); 
	color:#FFFFFF;
	border-color: #8D8E8E;
	margin-right: 10px;
font-family: 'Montserrat', sans-serif;
}
#ohict:hover{
	color:#FF695E;
	border-color:#FF695E;
	transition:0.4s ease;

}
h4{
	color: #797c82;
	margin-bottom: 50px;
}
input{
	margin-top:5px;
	font-size: 20px; 
	border-radius: 15px;
	padding:5px;
}
a{
	color:#FFF;
}
a:hover{
	color:#42C1FD;
	transition: 0.5s;
}
#But{
	font-size: 20px;
	background-color:rgba(0,0,0,0.8); 
	color:#FFFFFF;
	border-color: #8D8E8E;
	padding: 15px;
	border-radius: 20px;
font-family: 'Montserrat', sans-serif;

}
#But:hover{
	color:#FFF;
	border-color:#6a10c6;
	background-color: #7511c0;
	transition: all 0.15s ease-out 0.15s;



}
#But2{
	font-size: 20px;
	border-radius: 100px;
	background-color:rgba(0,0,0,0.8); 
	color:#FFFFFF;
	border-color: #8D8E8E;
	padding: 25px;
	margin-top:50px; 
	text-align: center;
font-family: 'Montserrat', sans-serif;
}
#But2:hover{
	color:#FFF;
	border-color:#6a10c6;
	background-color: #6a10c6;
	transition:ease-out 0.4s;
}
#check{
  cursor: pointer;
  font-size: 22px;
}
.regular-checkbox {
	-webkit-appearance: none;
	background-color: #000;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #000;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #FFF;
}

#buk{
	text-align: center;
	background: #000;
	color: #FFF;
font-family: 'Montserrat', sans-serif;
}
#buk2{
	text-align: center;
	background: #000;
	color: #FFF;
font-family: 'Montserrat', sans-serif;
}

select{
	font-size: 20px;
	background-color:rgba(0,0,0,0.8);
	color: #fff;
font-family: 'Montserrat', sans-serif;
}