@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap');
body{
	background: #3e3e3e;
	min-height: 100vh;
	overflow-x: hidden;
	color:#FFF;
	font-family: 'Roboto', sans-serif;
}
h3{
	color:#000;
}
.navbar{
	width: 100%;
	background: #FFF;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	box-sizing: border-box;
}
.icon{
	display: none;
	font-size: 1.2em;
	cursor: pointer; 
	color: red;
	background: red;
}
.links{
	display: flex;
	list-style: none;
}
.links li{
	margin-right: 24px;
}
.links li a{
	text-decoration: none;
	color: #111
}
.links li a:hover{
	color: #000;
}
.backgdrop{
	display: none;
	animation:0.4s ease-in-out fadeIn forwards;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	cursor: pointer;
}
@keyframes fadeIn {
	to{
		background: red;
	}
}
.close-btn{
	position: absolute;
	top: 24px;
	right: -90vh;
	color:#575;
	font-size: 2em;
	z-index: 3;
	transition: 0.3s ease-in-out;
}
.close-btn :hover{
	color: red;
	cursor: pointer;
}
.open .links{
	right: 0;
}
.open .close-btn{
	right: 32px;
}
.open .backgdrop{
	display: block;
}
a:visited{
	color: white;
}
.warning{
	width: 100%;
	background: #D24040;
	color:#FFF;
	text-align:center;
	border-radius: 4px;
	font-size: 30px;
	font-family: Google Sans,arial,sans-serif-medium,sans-serif;
}
.warning a{
	color: white;
}
a{
	text-decoration: none;
font-family: 'Source Sans Pro', sans-serif;
}
a:hover{
	text-decoration:underline;
}
li a:hover{
	background:#d3d3d3;

	transition: 0.4s ease-in-out;
}
.alert{
	color: red;
}
.info_corona a{
	color: red;
}
p{
	font-size: 22px;
	text-align: justify ;
}
.warning2 {
	color: #FFF;
	text-align: center;
	background:#ffae42;
	display: inline;
	border-radius: 4px;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}
