@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
font-family: 'Montserrat', sans-serif;
background: #111;
color: #FFF;
font-size: 40px;
}

#main{
    text-align: center;
    background: #FFF;
    font-size: 25px;
    color: #000;
}
#main p {
	margin-top: 10px;
	margin-bottom: 50px;
}
#about{
	font-size: 25px;
}
#about h3{
	font-size: 35px;
	text-align: center;
}
#early h3{
		font-size: 35px;
	text-align: center;
}
#early{
	    color: #000;
	    background: #FFF;
}